/* src/components/common/Header/Header.module.css */

.header {
    padding: 1rem;
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease; /* スムーズな切り替え */
}

html.dark .header {
    background-color: #1a202c;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


.logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease; /* スムーズな切り替え */
}

html.dark .logo {
    color: #fff;
}

.navList {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
}

.navItem {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease; /* スムーズな切り替え */
  padding: 0.5rem 1rem;
}

html.dark .navItem {
    color: #ddd;
}

.navItem:hover {
    color: #007bff; /* ホバー時の色 */
}

html.dark .navItem:hover {
  color: #66aaff;
}

.darkModeButton {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: #333;
    transition: color 0.3s ease; /* スムーズな切り替え */
}

html.dark .darkModeButton {
    color: #ddd;
}