.projects {
    padding: 4rem 0;
    text-align: center;
}

.projectsContent {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.projectsTitle {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #333;
}
.projectGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}